#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Orbitron';
}

.grider{
  grid-template-rows: 1fr 10fr 1fr;
}

.menu{
  width: 140vw;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.showmenu{
  margin-left: 15vw;
  width: 50vw;
  transition: all linear 0.5s;
}
.hor{
  display: flex;
  justify-content: center;
}
.horm {
  width: 65vw;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}
.horm2 {
  width: 12vw;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

.custom-box-shadow{
  box-shadow: 20px 20px 60px rgba(255, 255, 255, 0) ,
  inset -2px -2px 4px rgb(0, 0, 0);
}

.details{
  font-family: 'Nova Square';
  font-size: 1.2rem;
}

.loader{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid;
  border-color: transparent;
  border-top-color: #474bff;
  animation: spin 1s linear 0s infinite  ;
}

@keyframes spin{
  100%{
     transform: rotate(1turn);
  }
}
